/*On va centrer tout le body*/
body{
    /***************Fond***************/
    background-image:linear-gradient(rgba(189, 4, 193, 0.3),rgba(135, 5, 158, 0.342)),url(images/depositphotos_216798046-stock-photo-abstract-pastel-soft-colorful-smooth.webp);
    background-size: cover;

    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.header{
    width: 100%;
    height: 100px;
    background-color: rgb(19, 5, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.loginTitle{
    position: absolute;
    color: #f8f8f8;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Nunito Sans';
    text-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


/* Conteneur principal qui aligne le titre et le formulaire */
.auth_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;/* Prend 90% de la largeur de l'écran */
    height: 100vh; /* S'assure que tout prend la hauteur de l'écran */
    padding-right: 5vw; /* Ajoute un petit décalage à droite */
}


.adminIcone{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    position: relative;
    top: 20px;
    left: 10%;
}

.adminIcone img{
    width: 65px;
    height: 50ox;
    color: white;
}

.adminTitle {
    font-family: 'Nunito Sans';
    text-decoration: underline;
    font-size: 48px;
    font-weight: bold;
    color: rgb(234, 240, 246);
}

.container {/*Tout le contenu du formulaire*/
    margin-top: 40px;
    width: 380px;
    height: 320px;
    padding: 70px;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255, 255, 255, 0.6);
    box-shadow: rgb(104, 6, 42) 0px 20px 30px -10px;
    
}


.input-container {/*englobe l'input et l'icône*/
    position: relative;
    width: 84%;
}

.input-container i {/*positionne l’icône à l’intérieur du champ*/
    position: absolute;
    left: 15px; /* Distance entre l’icône et le bord gauche */
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: gray;
}

.input-container input {/*ajuste l’espacement du texte pour qu’il ne chevauche pas*/
    font-size: 14px;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.6);
    padding: 15px 15px 15px 45px; /* Ajout d'un padding à gauche pour ne pas chevaucher l’icône */
    border-radius: 10px;
    margin: 10px 0;
}



.RemFog{/*séparer la coche se souvenir et le lien du MDP oublié*/
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: black;
  }

a:hover{
    text-decoration: underline;
}

#loginButton{/*Ajustement du bouton se connecter*/
    font-size: 18px;
    background: linear-gradient(to right, rgb(49, 167, 6), rgb(9, 154, 11));
    color: white;
    width: 100%;
    border: none; /* Supprime la bordure pour un effet plus propre */
    padding: 18px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 55px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#loginButton i {
    font-size: 20px;
}

#loginButton:hover{
    background: linear-gradient(to right, rgb(56, 187, 44), rgb(33, 177, 40));
}

