.container-fluid{
    background-color:rgb(240, 232, 248) !important;
    color:rgb(125, 27, 27);
}  

.home{
    margin-left: 5px; /* Décalage vers la droite */
}

.dropdown-item{
    color:rgb(147, 32, 32); 
}

.account{
    width: 38px;
    height: 38px;
    background-color:rgb(147, 32, 32); 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 10px; /* Décalage vers la gauche */
}

.account img{
    width: 40px;
    height: auto;
    max-width: 20px;
}

.action{
    margin-left: 5px;
}

.nav-link.dropdown-toggle::after {
    display: none !important;
}

/* Style des liens */
.nav-link {
    position: relative;
    padding: 8px 16px;
    text-decoration: none;
    transition: color 0.12s ease-in-out;
}

/* Effet de soulignement animé */
.nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: rgb(255, 0, 0); /* Couleur de l'effet */
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

/* Animation au survol */
.nav-link:hover {
    color:rgb(255, 0, 0);
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

.account:hover {
    background-color: rgb(255, 0, 0); 
    transition: background-color 0.1s ease; 
}


.dropdown-item:hover{
    color:rgb(255, 0, 0);
}

/*Lien du menu actuel*/
.nav-link.active {
    font-weight: bold;
    color:rgb(255, 0, 0);
}
